/*
 * 蔚蓝档案（Blue Archive）主题样式表
 * by LateDreamXD
 */

@use './vars' as *;

html {
	--ba-text-color: #000;
	--ba-back-color: #fff;
	--ba-back-image: '';
	--ba-back-size: cover;
	--ba-font-family: Blueaka, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

	background: fixed center no-repeat;
	background-image: var(--ba-back-image);
	background-size: var(--ba-back-size);

	&.dark {
		--ba-text-color: #fff;
		--ba-back-color: #181818;
	}
}

body {
	background-color: transparent !important;
}

#app {
	font-family: var(--ba-font-family);

	// tab
	>header {
		color: var(--ba-text-color);
		background-color: $bg-80 !important;

		.navigation button {
			i {
				color: var(--ba-text-color) !important;
			}

			&:disabled {
				opacity: 0.5;
			}
		}
	}

	// about / eula dialog
	>.modal-overlay>.modal-content {
		color: var(--ba-text-color);
		background-color: $bg-80;
		backdrop-filter: blur(8px);
	}
	// route viewer
	>main {
		color: var(--ba-text-color);
		background-color: transparent;
		&:not(:has(.settings-page)) {
			background-color: $bg-40;
		}

		// any
		>div {
			color: var(--ba-text-color);
			background-color: $bg-40;

			.song-list {
				background-color: transparent;
			}
		}

		// home
		>.container {}

		// discover
		>.discover-page {}

		// library
		>.library-page {

			>.section-title,
			>.favorite-section {
				display: var(--ba-library-fav-display);
			}
		}

		// search
		>.search-page {
			>.search-results {
				background-color: $bg-40;

				.section-header>h3 {
					color: var(--ba-text-color);
				}
			}
		}

		// settings
		.settings-page {
			height: auto;
			background-color: transparent;

			>.settings-sidebar {
				background-color: $bg-60;
			}
			>.settings-content {
				background-color: $bg-40;

				>.version-info {
					color: $fg-80 !important;
					>p {
						display: inline;
						&::after {
							content: ', ';
						}
					}
				}
			}
		}
	}

	// player
	>.player-container {
		background-color: $bg-70 !important;

		>.player-bar {
			>.controls,
			>.extra-controls {
				i {
					// color: color-mix(in srgb, var(--ba-text-color), 80%, transparent);
					color: var(--ba-text-color);
					opacity: 0.8;
				}
			}
		}
	}

	// auto hide player
	&.--ba-auto-hide-player {
		>.player-container {
			transition: transform 0.3s ease-in-out;
			transform: translateY(80%);

			&:hover {
				transform: translateY(0);
			}
		}

		// new sidebar
		>aside.side-navigation {
			height: 100%;
		}

		// new sidebar+router viewer
		>main.side-navigation-main-content {
			padding-bottom: 8px;
		}

	}

	// ba sidebar for old version
	&.--ba-vertical-tab {
		height: 100vh;
		display: grid;
		grid-template-areas: 'tab main'
			'tab player';

		>header {
			display: flex;
			flex-direction: column;
			position: fixed;
			grid-area: tab;
			z-index: 0;
			width: var(--ba-sidebar-width);
			height: 100vh;

			>nav {
				display: grid;
				justify-items: center;
				grid-template-areas: 'search'
					'ctrls'
					'links';

				>.navigation {
					grid-area: ctrls;
				}

				>.nav-links {
					text-align: center;
					flex-direction: column;
					grid-area: links;
					width: fit-content;
				}

				>.search-profile {
					grid-area: search;

					>.search-bar>input {
						// min-width: fit-content;
						font-size: 1rem;
						width: 2rem;

						&:focus {
							width: 4rem;
						}
					}

					>.profile>.profile-menu {
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}

		>main {
			padding: 0;
			margin-left: var(--ba-sidebar-width);
			width: calc(100vw - var(--ba-sidebar-width));
			height: fit-content;
			grid-area: main;

			>.discover-page {
				margin-top: 100px;
			}
		}

		>.player-container {
			grid-area: player;
		}
	}
}
